Lenguaje de Marcas/JSON/Alejandro_Molina_Hernandez_LM_PR_UD5/cartas.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="cartas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="carta" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:integer"/>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="tipo_carta" type="xs:string"/>
              <xs:element name="coste" type="xs:integer"/>
              <xs:element name="descripción" type="xs:string"/>
              <xs:element name="efectos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="efecto" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
